<div class="container mt-4">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-8 col-sm-10">
			<div class="card shadow-sm p-3 mb-5">
				<div class="card-body">
					<form #feedbackForm="ngForm" (submit)="onSubmit(feedbackForm.value)">
						<div class="form-group">
							<label for="username">Username</label>
							<input ngModel name="username" type="username" class="form-control" id="username" />
						</div>
						<div class="form-group">
							<label for="reference">Reference</label>
							<input ngModel name="reference" type="reference" class="form-control" id="reference" />
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
						<button type="reset" class="btn btn-outline-danger ml-2" (click)="onClear()">Clear</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-8 col-sm-12" *ngIf="msg">
			<div class="card shadow-sm p-3 mb-5">
				<div class="card-body rounded">
					<div class="row">
						<div class="col-12">
							<div *ngIf="isSuccess">
								<div class="form-group">
									<label for="rUsername">Username</label>
									<input type="text" readonly class="form-control" id="rUsername" value="{{ username}}">
								</div>
								<div class="form-group">
									<label for="rReference">Reference</label>
									<input type="text" readonly class="form-control" id="rReference" value="{{ reference}}">
								</div>
							</div>
							<div class="form-group">
								<label for="rMsg">Response message</label>
                                <input type="text" readonly class="form-control border" [ngClass]="{'border-success': isSuccess, 'border border-danger': !isSuccess}" id="rMsg" value="{{ msg }}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
